.navbar img{
    height: 5rem;
    width: 7rem;
}

body {
    font-size: 140%;
    background-color: #FCDCDF;
    background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: black;
}

p {
    color: aliceblue;
    height: 150%;
}

h2{
    color: aliceblue;
}

.inicio img{
    border-radius: 1rem;
}

.acerca img{
    border-radius: 1rem;
    height: 80%;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-family: Verdana, sans-serif;
}
p {
    font-family: Georgia, serif; 
}

.custom-card-text {
    color: black;
}

.card-text{
    color: black;
}

.card-body{
    background-color: #C997C6;
}

.btn{
    background-color: #B0EFEF;
    color: black;
}
.form-group{
    color: aliceblue;
    font-size: 140%;
}